@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700");
* {
  margin: 0;
}

* + * {
  margin-top: 5px;
}

#desc {
  padding: 40px;
}

.number {
  display: block;
  font-size: 6rem;
  line-height: 6.5rem;
}
.number * + * {
  margin-top: 0;
}

.digit-con {
  display: inline-block;
  height: 6.5rem;
  overflow: hidden;
  vertical-align: top;
}
.digit-con span {
  display: block;
  font-size: 3.4rem;
  line-height: 6.5rem;
  position: relative;
  text-align: center;
  top: 0;
  width: 0.55em;
}
