@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700");
* {
  margin: 0;
}

* + * {
  margin-top: 10px;
}

body {
  background-color: #eee;
  margin: 0;
  padding: 20px;
}

body, button {
  font-family: 'IBM Plex Sans',sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

button {
  background-color: #eee;
  border: 1px #999 solid;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 15px;
  transition: all 250ms;
}

button:hover {
  background-color: white;
}

#desc {
  padding: 40px;
}

.number {
  display: block;
  font-size: 6rem;
  line-height: 6.5rem;
}
.number * + * {
  margin-top: 0;
}

.digit-con {
  display: inline-block;
  height: 6.5rem;
  overflow: hidden;
  vertical-align: top;
}
.digit-con span {
  display: block;
  font-size: 3.4rem;
  line-height: 6.5rem;
  position: relative;
  text-align: center;
  top: 0;
  width: 0.55em;
}
