body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a  {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 11pt;
    color: #818181;
    margin-left: 5%;
    display: block;
    transition: 0.3s;
}
.sidenav i{
  color:#ddd;
}

.sidenav a:hover {
    color: #f1f1f1;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
}
.closeBtn{
  font-size:30px;
  cursor:pointer;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left : 350px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* Eklenenler */
.profil-info{
  margin-top: 8%;
  margin-bottom: 8%;
}

.circle-image{
  border-radius: 50%;
  margin-left: 25%;
}

.sidenav span.user-name {
  color :#ddd;
  font-size: 15pt;
  margin-right: 10%;
}

.unvan{
  color: #818181;
  margin-right: 10%;
  font-size: 10pt;
  display: block;
  color:#eee
}
.sideNavIcon{
  border: 1px solid #fff;
  padding : 7px;
  font-size: 12pt;
  cursor: pointer;
  border-radius: 50% ;
  color:#fff;
}
.list{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 11pt;
  color: #fff;
  cursor: pointer;
  display: block;
  transition: 0.3s;
}
::-webkit-scrollbar {
    width: 10px;
}
.menu-items{
  margin-top : 15%;
}
.mainDiv{
  margin-right: 52%;
  margin-top: 2%;
}
.online-user{
  border-radius: 50%;
  padding: 5px;
  font-size: 5pt;
  color : green;
  background-color:green;
}
.person-sm-info{
  padding-left: 2%;
}
th{
  width: 25%;
}
.info-icon{
  color:#000;
}
.info-input {
  margin-bottom:10px;
}
.tab-head{
  margin-top:30px;
}
.kimlik-banner{
  background-color: #0073b7;
  color:white;
  padding-top : 2%;
  padding-bottom : 2%;
}
.disabled-input{
  cursor : not-allowed;
}
.prog{
  width: 100%;
  background: red;
}
#headingOne{
  background: #ffa812;
}
.titleBtn{
  color:#fff;
  cursor: pointer;
}
.titleBtn:hover{
  transition: color #000 500ms;
  text-decoration: none;
}
.dersAlmaHead{
  font-weight: 500;
  text-align: center;
  padding: 55px;
  background: rgb(234, 194, 126);
  color:#fff;
  font-size: 11pt;
}
.dersAlmaSatır{
  font-size:10pt;
  height: 50px;
  text-align: center;
}
#headingTwo {
  background: #0073b7;
}
.dersAlmaHead2{
  background: #6192AF;
  font-weight: 500;
  text-align: center;
  padding: 55px;
  color:#fff;
  font-size: 11pt;
}
.mini-menu-sidenav{
  float:right;
  margin-right:5%;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Messages Timeline */

.tracking-detail {
  padding:3rem 0
 }
 #tracking {
  margin-bottom:1rem
 }
 [class*=tracking-status-] p {
  margin:0;
  font-size:1.1rem;
  color:#fff;
  text-transform:uppercase;
  text-align:center
 }
 [class*=tracking-status-] {
  padding:1.6rem 0
 }
 .tracking-status-intransit {
  background-color:#65aee0
 }
 .tracking-status-outfordelivery {
  background-color:#f5a551
 }
 .tracking-status-deliveryoffice {
  background-color:#f7dc6f
 }
 .tracking-status-delivered {
  background-color:#4cbb87
 }
 .tracking-status-attemptfail {
  background-color:#b789c7
 }
 .tracking-status-error,.tracking-status-exception {
  background-color:#d26759
 }
 .tracking-status-expired {
  background-color:#616e7d
 }
 .tracking-status-pending {
  background-color:#ccc
 }
 .tracking-status-inforeceived {
  background-color:#214977
 }
 .tracking-list {
  border:0px solid #e5e5e5
 }
 .tracking-item {
  border-left:1px solid #e5e5e5;
  position:relative;
  padding:2rem 1.5rem .5rem 2.5rem;
  font-size:.9rem;
  min-height:5rem
 }
 .tracking-item:last-child {
  padding-bottom:4rem
 }
 .tracking-item .tracking-date {
  margin-bottom:.5rem
 }
 .tracking-item .tracking-date span {
  color:#888;
  font-size:85%;
  padding-left:.4rem
 }
 .tracking-item .tracking-content {
  padding:.5rem .8rem;
  background-color:#f4f4f4;
  border-radius:.5rem
 }
 .tracking-item .tracking-content span {
  display:block;
  color:#888;
  font-size:85%
 }
 .tracking-item .tracking-icon {
  line-height:2.6rem;
  position:absolute;
  left:-1.3rem;
  width:2.6rem;
  height:2.6rem;
  text-align:center;
  border-radius:50%;
  font-size:1.1rem;
  background-color:#fff;
  color:#fff
 }
 .tracking-item .tracking-icon.status-sponsored {
  background-color:#f68
 }
 .tracking-item .tracking-icon.status-delivered {
  background-color:#4cbb87
 }
 .tracking-item .tracking-icon.status-outfordelivery {
  background-color:#f5a551
 }
 .tracking-item .tracking-icon.status-deliveryoffice {
  background-color:#f7dc6f
 }
 .tracking-item .tracking-icon.status-attemptfail {
  background-color:#b789c7
 }
 .tracking-item .tracking-icon.status-exception {
  background-color:#d26759
 }
 .tracking-item .tracking-icon.status-inforeceived {
  background-color:#214977
 }
 .tracking-item .tracking-icon.status-intransit {
  color:#e5e5e5;
  border:1px solid #e5e5e5;
  font-size:.6rem
 }
 @media(min-width:992px) {
  .tracking-item {
   margin-left:10rem
  }
  .tracking-item .tracking-date {
   position:absolute;
   left:-10rem;
   width:7.5rem;
   text-align:right
  }
  .tracking-item .tracking-date span {
   display:block
  }
  .tracking-item .tracking-content {
   padding:0;
   background-color:transparent
  }
 }

/* #Messages Timeline */


/* Messages Detail Timeline */

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media (max-width: 767px) {
ul.timeline:before {
    left: 40px;
}

ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
}

ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
}

ul.timeline > li > .timeline-panel {
    float: right;
}

ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
}



/* Messages Detail Timeline */
