body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a  {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 11pt;
    color: #818181;
    margin-left: 5%;
    display: block;
    transition: 0.3s;
}
.sidenav i{
  color:#ddd;
}

.sidenav a:hover {
    color: #f1f1f1;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
}
.closeBtn{
  font-size:30px;
  cursor:pointer;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left : 350px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* Eklenenler */
.profil-info{
  margin-top: 8%;
  margin-bottom: 8%;
}

.circle-image{
  border-radius: 50%;
  margin-left: 25%;
}

.sidenav span.user-name {
  color :#ddd;
  font-size: 15pt;
  margin-right: 10%;
}

.unvan{
  color: #818181;
  margin-right: 10%;
  font-size: 10pt;
  display: block;
  color:#eee
}
.sideNavIcon{
  border: 1px solid #fff;
  padding : 7px;
  font-size: 12pt;
  cursor: pointer;
  border-radius: 50% ;
  color:#fff;
}
.list{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 11pt;
  color: #fff;
  cursor: pointer;
  display: block;
  transition: 0.3s;
}
::-webkit-scrollbar {
    width: 10px;
}
.menu-items{
  margin-top : 15%;
}
.mainDiv{
  margin-right: 52%;
  margin-top: 2%;
}
.online-user{
  border-radius: 50%;
  padding: 5px;
  font-size: 5pt;
  color : green;
  background-color:green;
}
.person-sm-info{
  padding-left: 2%;
}
th{
  width: 25%;
}
.info-icon{
  color:#000;
}
.info-input {
  margin-bottom:10px;
}
.tab-head{
  margin-top:30px;
}
.kimlik-banner{
  background-color: #0073b7;
  color:white;
  padding-top : 2%;
  padding-bottom : 2%;
}
.disabled-input{
  cursor : not-allowed;
}
.prog{
  width: 100%;
  background: red;
}
#headingOne{
  background: #ffa812;
}
.titleBtn{
  color:#fff;
}
.titleBtn:hover{
  transition: color #000 500ms;
  text-decoration: none;
}
.dersAlmaHead{
  font-weight: 500;
  text-align: center;
  padding: 55px;
  background: rgb(234, 194, 126);
  color:#fff;
  font-size: 11pt;
}
.dersAlmaSatır{
  font-size:10pt;
  height: 50px;
  text-align: center;
}
#headingTwo {
  background: #0073b7;
}
.dersAlmaHead2{
  background: #6192AF;
  font-weight: 500;
  text-align: center;
  padding: 55px;
  color:#fff;
  font-size: 11pt;
}
